body.light {
  @include theme($dark-theme: false);
}

body.dark {
  @include theme($dark-theme: true);
}

[data-button="toggle-btn"] {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 9999;
  @include transition();

  &:focus,
  &:active {
    border: none;
    outline: none;
  }

  &:hover {
    animation: scaler 5s ease-in-out infinite;
  }

  @keyframes scaler {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(1.2);
    }
  }
}

// [data-theme="light"] {
//     @include theme($dark-theme: false);
// }

// [data-theme="dark"] {
//     @include theme($dark-theme: true);
// }
